<div
  class="grid grid-cols-2 max-w-lg mx-auto text-lg *:border-black *:text-center *:px-10"
>
  <p class="border border-b-2">Szolgáltatásaink</p>
  <p class="border border-b-2">Áraink</p>
  <p class="border">Első alkalom</p>
  <p class="border">20 000 Ft</p>
  <p class="border">További konzultációk</p>
  <p class="border">15 000 Ft</p>
</div>
