---
import Footer from "@/components/footer.astro";
import { NavBar } from "@/components/navbar.tsx";
import Html from "./html.astro";
---

<Html>
  <NavBar />
  <main class="px-3">
    <slot />
  </main>
</Html>
<Footer />
